<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

<body>
{% include "button.html" %}
<div class="header">
<h1>Cars Catalog</h1>
</div>
<div class="pane">
<h1>BRANDS</h1>
<a href="{{url_for('newBrand')}}"><h3>Create New Brand</h3></a>

<!--Message flashing-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
<strong>{{message}}</strong>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

{% for brand in brands %}

<a href="{{url_for('showModel', brand_id = brand.id)}}"><p><h4>{{brand.name}}</h4></p></a>

<a href="{{url_for('editBrand', brand_id = brand.id)}}">Edit</a>

<a href="{{url_for('deleteBrand', brand_id = brand.id)}}">Delete</a>


{% endfor %}

</div>
</body>
</html>