<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
{% include "button.html" %}
<div class="header">
<h1>Cars Catalog</h1>
</div>
<div class="pane">
<h1>Are you sure you want to delete {{brand.name}}?</h1>
<!--Message flashing-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
<strong>{{message}}</strong>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="#" method='POST'>
<input type='Submit' value='Delete'>

</form>
<a href="{{url_for('showBrand')}}">Cancel</a>
</div>
</body>
</html>